body {
  font-family: Roboto, Arial, sans-serif;
  background: #F9EC88; }

a {
  color: #000000;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

.content {
  z-index: 10;
  top: 130px;
  position: relative; }

main {
  background: #ffffff;
  padding-top: 2rem; }

.header {
  position: fixed;
  z-index: -1;
  color: #000000;
  text-align: center;
  padding: 30px 0;
  width: 100%; }

.header__shadow {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.1));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.1));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.1));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(255, 255, 255, 0.01), rgba(0, 0, 0, 0.1));
  /* Standard syntax */
  height: 10px; }

.footer {
  background-color: #F9EC88;
  padding: 2rem;
  text-align: center; }
  .footer__site-links {
    font-weight: 300;
    margin-bottom: 1rem; }
    .footer__site-links a {
      border-left: solid thin #000000;
      margin-left: 0.5rem;
      padding-left: 0.5rem;
      text-decoration: none; }
      .footer__site-links a:first-child {
        border-left: none;
        margin-left: 0;
        padding-left: 0; }
      .footer__site-links a:hover {
        text-decoration: underline; }
  .footer__social-links {
    margin-bottom: 1rem; }

.workItem {
  cursor: pointer; }

.workItem:hover {
  text-decoration: none;
  background: #FDF8D2; }

.workItem h2 {
  color: #333; }

.workItem p {
  color: #333; }

.workItem img {
  vertical-align: top;
  width: 100%; }

.panel-default {
  border-radius: 1px; }
