body { 
	padding-bottom: 70px; 
	background: #fdfdfd;
}

.jumbotron {
	background:#3FB8AF;
	color:#fff;
}
.jumbotron a{
	color:#BAFFFA;
}
	
.workItem {
	cursor:pointer;
}
.workItem:hover {
	text-decoration:none;
	background: #EFFAF9;
}
.workItem h2 {
	color: #333;
}
.workItem p {
	color: #333;
}
.workItem img{
	vertical-align:top;
	width:100%;
}

.panel-default{
	border-radius:1px;
}
