body {
  font-family: Roboto, Arial, sans-serif;
  background: $colour--highlight;
}

a {
  color: $colour--general-font;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.content {
  z-index: 10;
  top: 130px;
  position: relative;
}
main {
  background: #ffffff;
  padding-top: 2rem;
}
