body {
  font-family: Roboto, Arial, sans-serif;
  background: $colour--highlight;
  margin: 2rem 0 0;
  font-size: 1.2rem;
}

a {
  color: $colour--general-font;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.content {
  z-index: 10;
  top: 400px;
  position: relative;
}

main {
  background: $colour--background;
  padding-top: 20rem;

  img {
    width: 100%;
  }
}


.hero-image {
  position:absolute;
  top:-55rem;
  right:0;
  width: 70%;
}

.page-heading {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

