body {
  font-family: Roboto, Arial, sans-serif;
  background: $colour--highlight;
  font-size: 1.2rem;
}

a {
  color: $colour--general-font;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.content {
  z-index: 10;
  top: 100px;
  position: relative;
}

.content.home {
  top: 420px;
}

@media (max-width: 768px) {
  .content.home {
    top: 450px;
  }
}

main {
  background: $colour--background;
  padding-bottom: 5rem;
}

main.home {
  padding-bottom: 0;
}

@media (min-width: 768px) {
  main.home {
    padding-top: 20rem;
  }
}

.hero-image {
  display: none;

  img {
    position:absolute;
    top:-55rem;
    right:0;
    width: 100%;
    max-width: 200px;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .hero-image {
    display: block;

    img {
      top:-45rem;
      max-width: 250px;
    }
  }
}

@media (min-width: 768px) {
  .hero-image {
    display: block;

    img {
      top:-55rem;
      right:2rem;
      max-width: 300px;
    }
  }
}

.page-heading {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-bottom: 2.5rem;
}

