.cv {
  h3 {
    font-weight: 700;
  }

  .container {
    max-width: 630px;
  }

  section {
    margin-top: 8rem;
  }

  &__employment {
    margin-bottom: 3.5rem;
  }

  &__qualifications {
    td {
      min-width: 7rem;
    }
  }

  &__technologies {
    h4 {
      font-size: $size--base-font;
    }

    ul {
      padding-left: 15px;
    }

    li {
      list-style: none;
      display: inline-block;
    }
  }
}