.cv {

  .container {
    max-width: 600px;
  }

  section {
    margin-top: 8rem;
  }

  &__employment {
    margin-bottom: 3rem;
  }

  &__qualifications {
    td {
      min-width: 7rem;
    }
  }

  &__technologies {
    h4 {
      font-size: 14px;
    }

    ul {
      padding-left: 15px;
    }

    li {
      list-style: none;
      display: inline-block;
    }
  }
}