.portfolio {
  margin-bottom: 3rem;
  padding-top: 5rem;

  &__item {
    border-radius:1px;
    text-align: center;
    padding-bottom: 15px;

    .panel {
      cursor: pointer;
    }

    &:hover .panel {
      background: $colour--background;
    }
  }

  &__item-header {
    font-size: 16px;
    font-weight: 700;
  }

  img {
    max-height: 185px;
  }

  @media (max-width: 380px) {
    img {
      width: 100%;
    }
  }

  @media (min-width: 381px) {
    img {
      margin-bottom: 2rem;
    }
  }

  @media (min-width: 768px) {
    img {
      width: 100%;
      margin-bottom: 0;
    }
  }
}
