h3,
.medium-text {
  font-size: $size--medium-font;
}

h4,
.base-text {
  font-size: $size--base-font;
}

.small-text {
  font-size: $size--small-font;
}

.tiny-text {
  font-size: $size--tiny-font;
}