// Colours
$colour--general-font: #000000;
$colour--highlight: #F9EC88;
$colour--highlight-light: #FDF8D2;
  // Shadow colours
$colour--transparent-white: rgba(255, 255, 255, 0.01);
$colour--transparent-grey: rgba(0, 0, 0, 0.1);