// Colours
$colour--general-font: #000000;
$colour--highlight: #F9EC88;
$colour--background: #f7f7f7;

// Shadow colours
$colour--transparent-white: rgba(255, 255, 255, 0.01);
$colour--transparent-grey: rgba(0, 0, 0, 0.1);

// Font sizes
$size--main-heading: 1.9rem;
$size--medium-font: 1.6rem;
$size--base-font: 1.5rem;
$size--small-font: 1.4rem;
$size--tiny-font: 1.3rem;